<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imagemodify.demo.mapper.ImageServiceMapper">
    <insert id="insertOneImage" parameterType="com.imagemodify.demo.pojo.ImageInfo" useGeneratedKeys="true" keyProperty="image_id" >
		insert into image_service(image_sn,image_type,title,size,width,height,staff_id,add_time)
		values(
			#{image_sn},#{image_type},#{title},#{size},#{width},#{height},#{staff_id},now()
		)
     </insert>
    <select id="selectAllImage" resultType="com.imagemodify.demo.pojo.ImageInfo">
        select * from image_service order by image_id desc
	</select>
	<select id="selectOneImage" parameterType="long" resultType="com.imagemodify.demo.pojo.ImageInfo">
        select * from image_service where image_id=#{image_id}
    </select>
    <update id="updateOneImage" parameterType="com.imagemodify.demo.pojo.ImageInfo">
        UPDATE image_service SET
        title = #{title}
        WHERE image_id = #{image_id}
    </update>
</mapper>